.slick-arrow::before{
    color: black;
    font-size: 30px;
}
.slick-prev {
    top: -50px;
    left: 1165px;
}

.slick-next {
    right: 30px;
    top: -50px;
}

@media only screen and (max-width:600px){
    .slick-prev {
        top: 200px;
        left: -30px;
    }
    
    .slick-next {
        right: -28px;
        top: 200px;
    }
    .slick-arrow::before{
        color: black;
        font-size: 20px;
    }
    .slider{
        display: flex;
    }
}